/* ursäkta class-namnet */
.selectoooor {
  border-radius: var(--radius);
  padding: 4px;
  border: none;
  background-color: var(--color-brand-primary);
  color: var(--color-light);
  font-weight: bold;
}
